.heading {
  color: bisque;
  font-family: "Segoe UI", fantasy;
  text-shadow: 2px 2px #000;
  letter-spacing: 20px;
  font-weight: bolder;
  text-align: center;
}
.aboutText {
  text-align: center;
  opacity: 0.7;
  border: 2px solid #000;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  line-height: 40px;
}
html,
body {
  color: bisque;
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media.istockphoto.com/id/1463137828/photo/3d-render-of-beauty-spa-saloon.jpg?s=612x612&w=0&k=20&c=-pkHokMX_f7t0xfvNkLsXOSsDVSYhfDz0yMrsrRU_Tg=");
}
