.headerText {
  text-align: center;
}
.FormParaClass {
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}

header {
  padding: 30px;
}
#myForm {
  border: 1px solid #000;
  color: bisque;
  border-radius: 8px;
  padding: 10px;
  background-color: #000;
  opacity: 0.6;
}

#resultText,
.formContent {
  text-align: center;
  color: aliceblue;
}

#resultText {
  /* animation: fadeInAnimation duration timing-function delay iteration-count direction fill-mode; */
  animation: fadeInAnimation 3s ease 0s 1 normal forwards;
  background: rgba(0, 0, 0, 0.6);
  margin: 0px 440px;
  font-size: x-large;
  border-radius: 6px;
  padding: 6px;
  border: 1px dashed;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
header {
  color: bisque;
  font-family: "Segoe UI", fantasy;
  text-shadow: 2px 2px #000;
  letter-spacing: 20px;
  font-weight: bolder;
}
body {
  background-image: url("https://media.istockphoto.com/id/1463137828/photo/3d-render-of-beauty-spa-saloon.jpg?s=612x612&w=0&k=20&c=-pkHokMX_f7t0xfvNkLsXOSsDVSYhfDz0yMrsrRU_Tg=");
  background-repeat: no-repeat;
  background-size: cover;
}
.checkboxes {
  margin: 35px 0px;

  border: 6px solid #fff;
  width: 400px;
  background-color: #000;
  background: rgba(0, 0, 0, 0.7);
  color: bisque;
  padding: 10px 14px;
  border-radius: 8px;
}
.cbParent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.submitButton {
  background: rgba(255, 255, 255, 1);
  padding: 6px;
  border: 2px dashed;
  font-size: 17px;
  font-family: monospace;
}
